html, body {
  margin: auto;
  padding: auto;
  color: white;
  background-color: rgb(25, 69, 79);
  background-image: url("pbg-1.png");
}
canvas {
  margin: auto;
  display: block;
}

h1, p {
  text-align: center;
font-family: "dynapuff", casual typeface;
  font-size: 2em;
  white-space: nowrap;
}

h2, a {
color: white;
font-family: "dynapuff", casual typeface; 
  font-size: 2em;
}